#tlo-obrazek{
    background-color: beige;
    background-image: url("../img/truskawka.jpg");
    color: lime;
    background-repeat: repeat-x;
    background-position: top center;
    background-size: 30% 30%;
    background-attachment: fixed;
}