#p1::before{
    content: "Przed elementem :) ";
        color: green;
    font-weight: bold;
}
#p2::after{
    content: " za elementem";
    color: indianred;
    text-transform: uppercase;
}
#p3::first-letter{
    color: deeppink;
    text-transform: uppercase;
}
#p4::first-line{
    background-color: yellow;
}
p::selection{
    background-color: blue;
}